#header-popup{
  width: 30%;
  height: 25%;
  position: absolute;
  top: 60px;
  right: 5px;
  background: #ffffff;
  border-radius: 4px;
  background-color: #252525;
  opacity: 0.9;
  color: rgb(222, 222, 222);
  padding: 15px;
  text-align: center;
}
